@{
}


<ul>
    <li>
        <a href="/Home/Cookie">cookie</a>
    </li>
    <li>
        <a href="/Home/QueryString/3">Query String</a>
    </li>
    <li>
        <a href="/Home/HiddenField">Hidden Field</a>
    </li>
    <li>
        <a href="/Home/Session">Session</a>
    </li>
    <li>
        <a href="/Home/Cache">Cache</a>
    </li>
</ul>